{% trans_default_domain "ezrepoforms_content_type" %}

{% block eztags_settings %}
<ul class="fielddef-settings {{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="subtree-limit">
        <span>{{ 'field_definition.eztags.settings.subtree_limit'|trans }}:</span>
        {% if settings.subTreeLimit > 0 %}
            <a href="{{ url( 'eztags_tag_url', { 'tagId': settings.subTreeLimit } ) }}">{{ netgen_tags_tag_keyword( settings.subTreeLimit ) }}</a>
        {% else %}
            {{ 'field_definition.eztags.settings.subtree_limit.no_limit'|trans }}
        {% endif %}
    </li>

    <li class="show-dropdown">
        <span>{{ 'field_definition.eztags.settings.show_dropdown'|trans }}:</span>
        {{ settings.showDropDown ?
            'field_definition.eztags.settings.yes'|trans :
            'field_definition.eztags.settings.no'|trans
        }}
    </li>

    <li class="hide-root-tag">
        <span>{{ 'field_definition.eztags.settings.hide_root_tag'|trans }}:</span>
        {{ settings.hideRootTag ?
            'field_definition.eztags.settings.yes'|trans :
            'field_definition.eztags.settings.no'|trans
        }}
    </li>

    <li class="max-tags">
        <span>{{ 'field_definition.eztags.settings.max_tags'|trans }}:</span>
        {{ settings.maxTags }}
    </li>
</ul>
{% endblock %}
