{% trans_default_domain 'netgen_tags_admin' %}

{% if synonyms is not empty %}
    <table>
        <thead>
            <tr>
                <th>{{ 'tag.tag_id'|trans }}</th>
                <th>{{ 'tag.tag_name'|trans }}</th>
                <th>{{ 'tag.modified'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for synonym in synonyms %}
                <tr>
                    <td>{{ synonym.id }}</td>
                    <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': synonym.id}) }}">{{ synonym.keyword }}</a></td>
                    <td>{{ synonym.modificationDate|date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ 'tag.synonyms.no_synonyms'|trans }}</p>
{% endif %}
