{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    <h2 class="tag-title">{{ 'synonym.delete.title'|trans }}: {{ netgen_tags_tag_keyword(tag) }} [{{ tag.id }}]</h2>

    <p>{{ 'synonym.delete.message'|trans({'%synonymName%': netgen_tags_tag_keyword(tag) }) }}</p>

    <form method="post" action="{{ path('netgen_tags_admin_tag_delete', {'tagId': tag.id}) }}" class="tags-actions">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('eztags_admin') }}" />
        <button type="submit" class="tags-btn tags-btn-primary" name="DeleteTagButton">{{ 'tag.button.yes'|trans }}</button>
        <a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}" class="tags-btn">{{ 'tag.button.no'|trans }}</a>
    </form>

{% endblock %}
