<div class="pagination-centered">
    <ul class="tags-pagination">

        {# First page link (for mobile) #}
        {% if pages.mobile_first_page %}
            <li class="to-first"><a class="tags-btn" href="{{ pages.mobile_first_page }}"><i class="md-icon">first_page</i></a></li>
        {% endif %}

        {# Previous page link #}
        {% if pages.previous_page %}
            <li class="to-prev"><a class="tags-btn" href="{{ pages.previous_page }}"><i class="md-icon">chevron_left</i></a></li>
        {% endif %}

        {# First page link #}
        {% if pages.first_page %}
            <li class="to-page"><a class="tags-btn" href="{{ pages.first_page }}">1</a></li>
        {% endif %}

        {# Second page link #}
        {% if pages.second_page %}
            <li class="to-page"><a class="tags-btn" href="{{ pages.second_page }}">2</a></li>
        {% endif %}

        {# Dots if start is over 3 #}
        {% if pages.separator_before %}
            <li class="disabled to-page"><a class="tags-btn tags-btn-link">...</a></li>
        {% endif %}

        {# Middle pages #}
        {% for page, page_url in pages.middle_pages %}
            {% if page == pager.currentPage %}
                <li class="active to-page"><a class="tags-btn tags-btn-primary">{{ page }} <span class="page-of"> of {{ pager.nbPages }}</span></a></li>
            {% else %}
                <li class="to-page"><a class="tags-btn" href="{{ page_url }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {# Dots if end is under 3 to last #}
        {% if pages.separator_after %}
            <li class="disabled to-page"><a class="tags-btn tags-btn-link" disabled>...</a></li>
        {% endif %}

        {# Second to last page link #}
        {% if pages.second_to_last_page %}
            <li class="to-page"><a class="tags-btn" href="{{ pages.second_to_last_page }}">{{ pager.nbPages - 1 }}</a></li>
        {% endif %}

        {# Last page link #}
        {% if pages.last_page %}
            <li class="to-page"><a class="tags-btn" href="{{ pages.last_page }}">{{ pager.nbPages }}</a></li>
        {% endif %}

        {# Next page link #}
        {% if pages.next_page %}
            <li class="to-next"><a class="tags-btn" href="{{ pages.next_page }}"><i class="md-icon">chevron_right</i></a></li>
        {% endif %}

        {# Last page link (for mobile) #}
        {% if pages.mobile_last_page %}
            <li class="to-last"><a class="tags-btn" href="{{ pages.mobile_last_page }}"><i class="md-icon">last_page</i></a></li>
        {% endif %}

    </ul>
</div>
