{% trans_default_domain 'eztags_admin' %}

{% use '@NetgenTags/form/tag_tree.html.twig' %}

{%- block form_row -%}
    <div class="ng-tags-input {% if errors|length > 0 %} error-input{% endif %}">
        {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
            {{- form_widget(form) -}}
            {% if label is not same as(false) -%}
                {% if not compound -%}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {%- endif -%}
                {% if required -%}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {%- endif -%}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                        {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {%- endif -%}
                <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
                {%- if translation_domain is same as(false) -%}
                    {%- if label_html is same as(false) -%}
                        {{- label -}}
                    {%- else -%}
                        {{- label|raw -}}
                    {%- endif -%}
                {%- else -%}
                    {%- if label_html is same as(false) -%}
                        {{- label|trans(label_translation_parameters, translation_domain) -}}
                    {%- else -%}
                        {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
                    {%- endif -%}
                {%- endif -%}
                </{{ element|default('label') }}>
            {%- endif -%}
            {{- form_errors(form) -}}
        {%- else -%}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        {%- endif -%}
    </div>
{%- endblock form_row -%}

{% block translation_list_widget %}
    {% set add_translation_closed = false %}

    <div {{ block('widget_container_attributes') }}>
        {% if tag is not null %}
            <p>{{ 'tag.translations.edit_translation'|trans }}</p>

            <div class="edit_translation">
        {% else %}
            <p>{{ 'tag.translations.add_translation'|trans }}</p>

            <div class="add_translation">
        {% endif %}

        {%- for child in form %}
            {% if tag is not null and child.vars.value not in tag.languageCodes and add_translation_closed == false %}
                </div>

                <p>{{ 'tag.translations.add_translation'|trans }}</p>

                <div class="add_translation">

                {% set add_translation_closed = true %}
            {% endif %}

            {{- form_row(child) -}}
        {% endfor -%}
        </div>
    </div>
{% endblock %}
