{% trans_default_domain 'netgen_tags_admin' %}

{% block tag_tree_widget %}
    <div class="ng-tags-input {% if errors|length > 0 %} error-input{% endif %}">
        <div class="tags-modal-tree" data-noValueText="{{ '(' ~ 'tag.tree.no_tag_selected'|trans ~ ')' }}">
            {{- form_label(form) -}}

            <input type="hidden" class="tag-id" {{ block('widget_attributes') }} value="{% if tag is not null %}{{ tag.id }}{% else %}0{% endif %}" />
            <span class="tag-keyword">{% if tag is not null %}{{ tag.keyword }}{% else %}({{ 'tag.tree.no_tag_selected'|trans }}){% endif %}</span>
            <button type="button" class="tags-btn modal-tree-button">{{ 'tag.tree.select_tag'|trans }}</button>

            {# Renders a tree inside modal window, for selecting tag inside forms. #}
            <div class="ng-modal">
                <div class="content">
                    <span class="close"><i class="md-icon">close</i></span>
                    {% include '@NetgenTags/admin/tree.html.twig' with {
                        'selectedTag': tag,
                        'disableSubtree': disableSubtree
                    } %}
                </div>
            </div>

            {{- form_errors(form) -}}
        </div>
    </div>
{% endblock %}
