{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    {% include 'NetgenTagsBundle:messages:success_messages.html.twig' %}
    {% include 'NetgenTagsBundle:messages:error_messages.html.twig' %}

    <table>
        <thead>
            <tr>
                <th>{{ 'dashboard.latest_tags.tag_id'|trans }}</th>
                <th>{{ 'dashboard.latest_tags.tag_name'|trans }}</th>
                <th>{{ 'dashboard.latest_tags.parent_tag_name'|trans }}</th>
                <th>{{ 'dashboard.latest_tags.tag_modified'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in latestTags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}">{{ netgen_tags_tag_keyword(tag) }}</a></td>
                {% if tag.hasParent %}
                    <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.parentTagId}) }}">{{ netgen_tags_tag_keyword(tag.parentTagId) }}</a></td>
                {% else %}
                    <td>{{ 'dashboard.latest_tags.no_parent'|trans }}</td>
                {% endif %}
                <td>{{ tag.modificationDate|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{{ 'tag.children_tags.title'|trans }} ({{ childrenTags|length }})</h3>

    <a href="{{ path('netgen_tags_admin_tag_add_select', {'parentId': 0}) }}" class="button">{{ 'tag.add.title'|trans }}</a>

    {% if childrenTags is empty %}
        <p>{{  'tag.children_tags.no_children'|trans }}</p>
    {% else %}

        <table>
            <thead>
            <tr>
                <th>{{ 'tag.table.tag_id'|trans }}</th>
                <th>{{ 'tag.table.tag_name'|trans }}</th>
                <th>{{ 'tag.translations.title'|trans }}</th>
                <th>{{ 'tag.table.modified'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in childrenTags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}">{{ netgen_tags_tag_keyword(tag) }}</a></td>
                    <td>{{ tag.keywords|keys|join(', ') }}</td>
                    <td>{{ tag.modificationDate|date('d/m/Y h:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
