{% trans_default_domain 'eztags_admin' %}

{% if subTreeLimitations is not empty %}
    <table>
        <thead>
            <tr>
                <th>{{ 'tag.content.content_type_id'|trans }}</th>
                <th>{{ 'tag.content.content_type'|trans }}</th>
                <th>{{ 'tag.content.field_def_identifier'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for subTreeLimitation in subTreeLimitations %}
                <tr>
                    <td>{{ subTreeLimitation.contentTypeId }}</td>
                    <td>{{ netgen_tags_content_type_name(subTreeLimitation.contentTypeId) }}</td>
                    <td>{{ subTreeLimitation.attributeIdentifier }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ 'tag.subtree_limitations.no_limitations'|trans }}</p>
{% endif %}
