{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% form_theme form 'NetgenTagsBundle:form:eztags.html.twig' %}

{% block content %}
    {# Show form for adding new synonyms. #}
    <h2 class="tag-title">{{ 'tag.add.title'|trans }}</h2>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.keyword) }}
    {{ form_row(form.alwaysAvailable) }}
    {{ form_row(form.remoteId) }}
    {{ form_row(form.parentTagId, {'tag': parentTag is defined ? parentTag : null}) }}

    <button class="tags-btn tags-btn-primary" type="submit">{{ 'tag.button.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
