{% trans_default_domain 'eztags_admin' %}

{# Show tag children with form for moving or removing multiple children. #}
<h3>{{ 'tag.children_tags.title'|trans }} ({{ childrenTags|length }})</h3>

<a href="{{ path('netgen_tags_admin_tag_add_select', {'parentId': tag is defined ? tag.id : 0}) }}" class="button">{{ 'tag.add.title'|trans }}</a>

{% if childrenTags is empty %}
    <p>{{  'tag.children_tags.no_children'|trans }}</p>
{% else %}
    <form method="post">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>{{ 'tag.table.tag_id'|trans }}</th>
                <th>{{ 'tag.table.tag_name'|trans }}</th>
                <th>{{ 'tag.translations.title'|trans }}</th>
                <th>{{ 'tag.table.modified'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in childrenTags %}
                <tr>
                    <td><input type="checkbox" name="Tags[]" value="{{ tag.id }}"/></td>
                    <td>{{ tag.id }}</td>
                    <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}">{{ netgen_tags_tag_keyword(tag) }}</a></td>
                    <td>
                        {% for languageCode in tag.keywords|keys %}
                            <a href="{{ path('netgen_tags_admin_tag_update', {'tagId': tag.id, 'languageCode': languageCode}) }}">{{ languageCode }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ tag.modificationDate|date('d/m/Y h:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="{{ 'tag.button.move_multiple'|trans }}" formaction="{{ path('netgen_tags_admin_tag_children_move', {'tagId': tag is defined ? tag.id : 0}) }}"/>
        <input type="submit" value="{{ 'tag.button.delete_multiple'|trans }}" formaction="{{ path('netgen_tags_admin_tag_children_delete', {'tagId': tag is defined ? tag.id : 0}) }}"/>
    </form>
{% endif %}
