{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    {# Show form for converting a tag to synonym. #}
    <h2>{{ 'tag.convert.title'|trans }}: {{ netgen_tags_tag_keyword(tag) }} [{{ tag.id }}]</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ 'tag.main_tag'|trans }}:
    <span id="mainTag">({{ 'tag.main.no'|trans }})</span>
    <input type="button" class="modal-tree-button" data-modalTreeId="convert" value="{{ 'tag.main.select'|trans }}"/>

    <input type="submit" value="{{ 'tag.button.save'|trans }}"/>
    <input type="button" value="{{ 'tag.button.discard'|trans }}"/>
    {{ form_end(form) }}

    {# Render tags tree as a modal for selecting main tag. #}
    {% include 'NetgenTagsBundle:admin/tree:modal_tree.html.twig' with {
        'tagsTreeId': 'convert',
        'fieldId': 'tag_convert_mainTag',
        'spanId': 'mainTag',
        'noValueText': '(' ~ 'tag.main.no'|trans ~ ')',
    } %}
{% endblock %}
