{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    {# Show confirmation message and form for deleting a tag. #}
    <h2>{{ 'tag.delete.title'|trans }}: {{ netgen_tags_tag_keyword(tag) }} [{{ tag.id }}]</h2>

    <p>{{ 'tag.delete.message'|trans({'%tagName%': netgen_tags_tag_keyword(tag) }) }}</p>

    <form method="post" action="{{ path('netgen_tags_admin_tag_delete', {'tagId': tag.id}) }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('eztags_admin') }}" />
        <input type="submit" name="DeleteTagButton" value="{{ 'tag.button.yes'|trans }}"/>
    </form>

    <a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}" class="button">{{ 'tag.button.no'|trans }}</a>
{% endblock %}
