{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% form_theme form 'NetgenTagsBundle:form:eztags.html.twig' %}

{% block content %}
    {# Show form for merging two tags. #}
    <h2>{{ 'tag.merge.title'|trans }}: {{ netgen_tags_tag_keyword(tag) }} [{{ tag.id }}]</h2>

    <p>{{ 'tag.merge.message'|trans }}</p>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.mainTag) }}

    <input type="submit" value="{{ 'tag.button.save'|trans }}"/>
    <input type="button" value="{{ 'tag.button.discard'|trans }}"/>
    {{ form_end(form) }}
{% endblock %}
