{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% set tag_keyword = netgen_tags_tag_keyword( tag ) %}

{% block content %}
    <h2 class="tag-title">
        {{ 'tag.related_content.title'|trans }}: <a href="{{ path( 'netgen_tags_admin_tag_show', {tagId: tag.id} ) }}">{{ netgen_tags_tag_keyword( tag ) }}</a>
    </h2>

    {% if related_content|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>{{ 'tag.content.content_id'|trans }}</th>
                    <th>{{ 'tag.content.name'|trans }}</th>
                    <th>{{ 'tag.content.modified'|trans }}</th>
                    <th>{{ 'tag.content.content_type'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for content in related_content %}
                    <tr>
                        <td>{{ content.id }}</td>
                        <td><a href="{{ path( "ez_urlalias", {"contentId": content.id} ) }}" target="_blank">{{ ez_content_name(content) }}</a></td>
                        <td>{{ content.modificationDate|date }}</td>
                        <td>{{ netgen_tags_content_type_name(content.contentTypeId) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if related_content.haveToPaginate() %}
            {{ pagerfanta( related_content, 'eztags_admin' ) }}
        {% endif %}
    {% endif %}
{% endblock %}
