{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    <h2>{{ 'tag.title'|trans }}: {{ netgen_tags_tag_keyword(tag) }}</h2>
    <p>{{ 'tag.last_modified'|trans }}: {{ tag.modificationDate|date('d/m/Y g:i a') }} ({{ 'tag.tag_id'|trans }}: {{ tag.id }})</p>

    <a href="{{ path('netgen_tags_admin_tag_update_select', {'tagId': tag.id}) }}" class="button">{{ 'tag.edit.title'|trans }}</a>
    <a href="{{ path('netgen_tags_admin_tag_delete', {'tagId': tag.id}) }}" class="button">{{ 'tag.delete.title'|trans }}</a>
    <a href="{{ path('netgen_tags_admin_tag_merge', {'tagId': tag.id}) }}" class="button">{{ 'tag.merge.title'|trans }}</a>
    <a href="{{ path('netgen_tags_admin_synonym_add', {'mainTagId': tag.id, 'languageCode': tag.mainLanguageCode}) }}" class="button">{{ 'synonym.add.title'|trans }}</a>
    <a href="{{ path('netgen_tags_admin_tag_convert', {'tagId': tag.id}) }}" class="button">{{ 'tag.convert.title'|trans }}</a>

    <h3>{{ 'tag.latest.title'|trans }}</h3>

    <table>
        <thead>
        <tr>
            <th>{{ 'tag.table.tag_id'|trans }}</th>
            <th>{{ 'tag.table.tag_name'|trans }}</th>
            <th>{{ 'tag.table.modified'|trans }}</th>
            <th>{{ 'tag.class.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for content in latestContent %}
            <tr>
                <td>{{ content.contentInfo.id }}</td>
                <td>{{ ez_content_name(content) }}</td>
                <td>{{ content.contentInfo.modificationDate|date('d.m.Y H:i') }}</td>
                <td>{{ netgen_tags_content_type_name(content.contentInfo.contentTypeId) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{{ 'tag.translations.title'|trans }} ({{ tag.keywords|length }})</h3>

    <table>
        <thead>
            <tr>
                <th>{{ 'tag.translations.langunage'|trans }}</th>
                <th>{{ 'tag.translations.translation'|trans }}</th>
                <th>{{ 'tag.translations.locale'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for languageCode, keyword in tag.keywords %}
            <tr>
                <td>{{ netgen_tags_language_name(languageCode) }}</td>
                <td>{{ keyword }}</td>
                <td>{{ languageCode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{{ 'tag.synonyms.title'|trans }} ({{ synonyms|length }})</h3>

    {% if synonyms is empty %}
        <p>{{  'tag.synonyms.no_synonyms'|trans }}</p>
    {% else %}

    <table>
        <thead>
        <tr>
            <th>{{ 'tag.table.tag_id'|trans }}</th>
            <th>{{ 'tag.table.tag_name'|trans }}</th>
            <th>{{ 'tag.table.modified'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for synonym in synonyms %}
            <tr>
                <td>{{ synonym.id }}</td>
                <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': synonym.id}) }}">{{ netgen_tags_tag_keyword(synonym) }}</a></td>
                <td>{{ synonym.modificationDate|date('d/m/Y h:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h3>{{ 'tag.children_tags.title'|trans }} ({{ childrenTags|length }})</h3>

    {% if childrenTags is empty %}
        <p>{{  'tag.children_tags.no_children'|trans }}</p>
    {% else %}

        <table>
            <thead>
            <tr>
                <th>{{ 'tag.table.tag_id'|trans }}</th>
                <th>{{ 'tag.table.tag_name'|trans }}</th>
                <th>{{ 'tag.translations.title'|trans }}</th>
                <th>{{ 'tag.table.modified'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in childrenTags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td><a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}">{{ netgen_tags_tag_keyword(tag) }}</a></td>
                    <td>{{ tag.keywords|keys|join(', ') }}</td>
                    <td>{{ tag.modificationDate|date('d/m/Y h:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h3>{{ 'tag.subtree_limitations.title'|trans }} ({{ subTreeLimitations|length }})</h3>

    {% if subTreeLimitations is empty %}
        <p>{{  'tag.subtree_limitations.no_limitations'|trans }}</p>
    {% else %}

        <table>
            <thead>
            <tr>
                <th>{{ 'tag.class.id'|trans }}</th>
                <th>{{ 'tag.class.name'|trans }}</th>
                <th>{{ 'tag.subtree_limitations.identifier'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for subTreeLimitation in subTreeLimitations %}
                <tr>
                    <td>{{ subTreeLimitation.contentTypeId }}</td>
                    <td>{{ netgen_tags_content_type_name(subTreeLimitation.contentTypeId) }}</td>
                    <td>{{ subTreeLimitation.attributeIdentifier }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
