{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    <h2>{{ 'synonym.title'|trans }}: {{ netgen_tags_tag_keyword(tag) }} ({{ 'synonym.main_tag'|trans }}: <a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.mainTagId}) }}">{{ netgen_tags_tag_keyword(tag.mainTagId) }}</a>)</h2>
    <p>{{ 'tag.last_modified'|trans }}: {{ tag.modificationDate|date('d/m/Y g:i a') }} ({{ 'tag.tag_id'|trans }}: {{ tag.id }})</p>

    <h3>{{ 'tag.latest.title'|trans }}</h3>

    <table>
        <thead>
        <tr>
            <th>{{ 'tag.table.tag_id'|trans }}</th>
            <th>{{ 'tag.table.tag_name'|trans }}</th>
            <th>{{ 'tag.table.modified'|trans }}</th>
            <th>{{ 'tag.class.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for content in latestContent %}
            <tr>
                <td>{{ content.contentInfo.id }}</td>
                <td>{{ ez_content_name(content) }}</td>
                <td>{{ content.contentInfo.modificationDate|date('d.m.Y H:i') }}</td>
                <td>{{ netgen_tags_content_type_name(content.contentInfo.contentTypeId) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{{ 'tag.translations.title'|trans }} ({{ tag.keywords|length }})</h3>

    <table>
        <thead>
            <tr>
                <th>{{ 'tag.translations.langunage'|trans }}</th>
                <th>{{ 'tag.translations.translation'|trans }}</th>
                <th>{{ 'tag.translations.locale'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for languageCode, keyword in tag.keywords %}
            <tr>
                <td>{{ netgen_tags_language_name(languageCode) }}</td>
                <td>{{ keyword }}</td>
                <td>{{ languageCode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
