{% trans_default_domain 'eztags_admin' %}

<form method="post" action="{{ path('netgen_tags_admin_tag_translation', {'tagId': tag.id}) }}">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>{{ 'tag.translations.langunage'|trans }}</th>
            <th>{{ 'tag.translations.translation'|trans }}</th>
            <th>{{ 'tag.translations.locale'|trans }}</th>
            <th>{{ 'tag.main'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for languageCode, keyword in tag.keywords %}
            <tr>
                <td><input type="checkbox" data-enable="Locale" name="Locale[]" {% if languageCode == tag.mainLanguageCode %}disabled="disabled"{% endif %} id="tagLanguage{{ languageCode }}" value="{{ languageCode }}"/><label for="tagLanguage{{ languageCode }}"></label></td>
                {% if languageCode == tag.mainLanguageCode %}
                    <td><strong>{{ netgen_tags_language_name(languageCode) }}</strong></td>
                {% else %}
                    <td>{{ netgen_tags_language_name(languageCode) }}</td>
                {% endif %}
                <td>{{ keyword }}</td>
                <td>{{ languageCode }}</td>
                <td><input type="radio" data-enable="MainLocale" name="MainLocale" id="{{ languageCode }}" value="{{ languageCode }}" {% if languageCode == tag.mainLanguageCode %}checked="checked"{% endif %}/><label for="{{ languageCode }}"></label></td>
                <td><a href="{{ path('netgen_tags_admin_tag_update', {'tagId': tag.id, 'languageCode': languageCode}) }}">{{ 'tag.button.edit'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('eztags_admin') }}" />
    <div class="tags-btn-group">
        <button type="submit" class="tags-btn" data-enabler="Locale" name="RemoveTranslationButton">{{ 'tag.button.remove'|trans }}</button>
        <button type="submit" class="tags-btn" data-enabler="MainLocale" name="UpdateMainTranslationButton">{{ 'tag.button.main'|trans }}</button>
    </div>
    <input type="checkbox" name="AlwaysAvailable" id="AlwaysAvailable" {% if tag.alwaysAvailable %}checked="checked"{% endif %}/><label for="AlwaysAvailable">{{ 'tag.form.always_available'|trans }}.</label>
    <button type="submit" class="tags-btn" name="UpdateAlwaysAvailableButton">{{ 'tag.button.update'|trans }}</button>
</form>
