{% trans_default_domain 'eztags_admin' %}

<h3>{{ 'tag.translations.title'|trans }} ({{ tag.keywords|length }})</h3>

<form method="post" action="{{ path('netgen_tags_admin_tag_translation', {'tagId': tag.id}) }}">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>{{ 'tag.translations.langunage'|trans }}</th>
            <th>{{ 'tag.translations.translation'|trans }}</th>
            <th>{{ 'tag.translations.locale'|trans }}</th>
            <th>{{ 'tag.main'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for languageCode, keyword in tag.keywords %}
            <tr>
                <td><input type="checkbox" name="Locale[]" {% if languageCode == tag.mainLanguageCode %}disabled="disabled"{% endif %} value="{{ languageCode }}"/></td>
                {% if languageCode == tag.mainLanguageCode %}
                    <td><strong>{{ netgen_tags_language_name(languageCode) }}</strong></td>
                {% else %}
                    <td>{{ netgen_tags_language_name(languageCode) }}</td>
                {% endif %}
                <td>{{ keyword }}</td>
                <td>{{ languageCode }}</td>
                <td><input type="radio" name="MainLocale" value="{{ languageCode }}" {% if languageCode == tag.mainLanguageCode %}checked="checked"{% endif %}/></td>
                <td><a href="{{ path('netgen_tags_admin_tag_update', {'tagId': tag.id, 'languageCode': languageCode}) }}">{{ 'tag.button.edit'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="submit" name="RemoveTranslationButton" value="{{ 'tag.button.remove'|trans }}"/>
    <input type="submit" name="UpdateMainTranslationButton" value="{{ 'tag.button.main'|trans }}"/>
    <input type="checkbox" name="AlwaysAvailable" {% if tag.alwaysAvailable %}checked="checked"{% endif %}/> {{ 'tag.form.always_available'|trans }}.
    <input type="submit" name="UpdateAlwaysAvailableButton" value="{{ 'tag.button.update'|trans }}"/>
</form>