{% block ezplatform_fieldtype_eztags_widget %}
    {% set field = form.parent.vars.value.field %}
    {% set field_value = form.parent.vars.value.value %}
    {% set field_definition = form.parent.vars.value.fieldDefinition %}
    {% set edit_view = field_definition.fieldSettings.editView|default('Default') %}

    <div class="ng-tags-input-ui">
        <div class="eztags-wrapper">
            <div id="eztags{{ field_definition.id }}" class="tagssuggest"
                data-eztags
                data-autocomplete-url="{{ path('netgen_tags_admin_field_autocomplete') }}"
                data-children-url="{{ path('netgen_tags_admin_field_children') }}"
                data-builder="{{ edit_view }}"
                data-max-results="{{ ibexa.configResolver.parameter('field.autocomplete_limit', 'netgen_tags') }}"
                data-has-add-access="{% if is_granted('ibexa:tags:add') %}1{% else %}0{% endif %}"
                data-subtree-limit="{{ field_definition.validatorConfiguration.TagsValueValidator.subTreeLimit|default(0) }}"
                data-hide-root-tag="{% if field_definition.fieldSettings.hideRootTag|default(false) %}1{% else %}0{% endif %}"
                data-max-tags="{{ field_definition.validatorConfiguration.TagsValueValidator.maxTags|default(0) }}"
                data-locale="{{ field.languageCode }}"
                data-icon-path=""
                >

                {{ form_row(form.ids, {attr: {class: 'tagids'}}) }}
                {{ form_row(form.parent_ids, {attr: {class: 'tagpids'}}) }}
                {{ form_row(form.keywords, {attr: {class: 'tagnames'}}) }}
                {{ form_row(form.locales, {attr: {class: 'taglocales'}}) }}
            </div>

            {% set edit_view_template = null %}

            {% for edit_view_config in ibexa.configResolver.parameter('edit_views', 'netgen_tags') %}
                {% if edit_view_config.identifier == edit_view %}
                    {% set edit_view_template = edit_view_config.template %}
                {% endif %}
            {% endfor %}

            {% include edit_view_template ignore missing %}
            {% include '@NetgenTags/ibexa/admin/field/browse/view/browse.html.twig' %}

        </div>
    </div>
{% endblock %}
