{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% form_theme form '@NetgenTags/form/eztags.html.twig' %}

{% block content %}
    <h2 class="ng-ui-title">{{ 'tag.add.title'|trans }}</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="ng-ui-btn ng-ui-btn-primary" type="submit">{{ 'tag.button.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
