{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% form_theme form '@NetgenTags/form/eztags.html.twig' %}

{% block content %}
    <h2 class="tag-title">{{ 'tag.edit.title'|trans }}: {{ tag.keyword }} [{{ tag.id }}]</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="tags-btn tags-btn-primary" type="submit">{{ 'tag.button.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
