{% trans_default_domain 'netgen_tags_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/netgentags/admin/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('bundles/netgentags/admin/images/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/netgentags/admin/images/favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('bundles/netgentags/admin/images/favicon/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('bundles/netgentags/admin/images/favicon/safari-pinned-tab.svg') }}" color="#34bfe0">
    <link rel="shortcut icon" href="{{ asset('bundles/netgentags/admin/images/favicon/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ asset('bundles/netgentags/admin/images/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <title>
        {% block title %}
            {{ 'pagelayout.title'|trans }}
        {% endblock %}
    </title>

    {% block stylesheets %}
        {% include '@NetgenTags/admin/stylesheets.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {% include '@NetgenTags/admin/javascripts.html.twig' %}
    {% endblock %}
</head>
<body>
    <div class="ng-tags-app">
        {% include '@NetgenTags/admin/header.html.twig' %}

        <div class="ng-tags-container">
            <div class="tags-sidebar tags-sidebar-resizable">
                <div class="main-menu">
                    {% include '@NetgenTags/admin/main_menu.html.twig' %}
                </div>
            </div>

            <div class="tags-content">
                <div class="path">
                    {% include '@NetgenTags/admin/path.html.twig' %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
