{% trans_default_domain 'eztags' %}

{%- block form_row -%}
    <div class="ng-tags-input {% if errors|length > 0 %} error-input{% endif %}">
        {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        {%- else -%}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        {%- endif -%}
    </div>
{%- endblock form_row -%}

{% block translation_list_widget %}
    {% set add_translation_closed = false %}

    <div {{ block('widget_container_attributes') }}>
        {% if tag is not null %}
            <p>{{ 'tag.translation.edit'|trans }}</p>

            <div class="edit_translation">
        {% else %}
            <p>{{ 'tag.translation.add'|trans }}</p>

            <div class="add_translation">
        {% endif %}

        {%- for child in form %}
            {% if tag is not null and child.vars.value not in tag.languageCodes and add_translation_closed == false %}
                </div>

                <p>{{ 'tag.translation.add'|trans }}</p>

                <div class="add_translation">

                {% set add_translation_closed = true %}
            {% endif %}

            {{- form_row(child) -}}
        {% endfor -%}
        </div>
    </div>
{% endblock %}

{% block tag_tree_widget %}
    <div class="ng-tags-input">
        <div class="modal-tree" data-noValueText="{{ '(' ~ 'tag.tree.no_tag_selected'|trans ~ ')' }}">
            {{- form_label(form) -}}
            <input type="hidden" class="tag-id" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %} />
            <span class="tag-keyword">{% if tag is not null %}{{ netgen_tags_tag_keyword(tag) }}{% else %}({{ 'tag.tree.no_tag_selected'|trans }}){% endif %}</span>
            <button type="button" class="tags-btn modal-tree-button">{{ 'tag.tree.select'|trans }}</button>

            {# Renders a tree inside modal window, for selecting tag inside forms. #}
            <div class="ng-modal">
                <div class="content">
                    <span class="close"><i class="md-icon">close</i></span>
                    {% include 'NetgenTagsBundle:admin:tree.html.twig' with {
                        'rootTagId': rootTagId is defined ? rootTagId : null,
                        'showRootTag': showRootTag is defined ? showRootTag : true,
                        'selectedTagId': value is not empty ? value : ''
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
