{% trans_default_domain 'eztags' %}

{%- block form_row -%}
    <div class="tags-input {% if errors|length > 0 %} error-input{% endif %}">
        {%- if 'checkbox' in block_prefixes or 'radio' in block_prefixes -%}
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        {%- else -%}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        {%- endif -%}
    </div>
{%- endblock form_row -%}

{% block translation_list_widget %}
    {# Custom form for selecting language when adding or updating tags or synonyms. #}
    <div {{ block('widget_container_attributes') }}>
        {% if tag is defined and tag %}
            {% set start = true %}
            {{ 'tag.translation.edit'|trans }}
            <div class="edit_translation">
        {% else %}
            {{ 'tag.translation.add'|trans }}
            <div class="add_translation">
        {% endif %}

        {%- for child in form %}
            {% if tag is defined and tag and child.vars.value not in tag.languageCodes and start == true %}
                </div>
                {{ 'tag.translation.add'|trans }}
                <div class="add_translation">
                {% set start = false %}
            {% endif %}

            {{- form_widget(child) -}}
            {{- form_label(child, null, {}) -}}
        {% endfor -%}
        </div>
    </div>
{% endblock %}

{% block tag_tree_widget %}
    <div class="tags-input">
        <div class="modal-tree" data-noValueText="{{ '(' ~ 'tag.tree.no_tag_selected'|trans ~ ')' }}">
            {{- form_label(form, null, {}) -}}
            <input type="hidden" class="tag-id-value" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %} />
            <span class="tag-keyword">{% if tag is defined and tag is not null %}{{ tag.keyword }}{% else %}({{ 'tag.tree.no_tag_selected'|trans }}){% endif %}</span>
            <input type="button" class="tags-btn modal-tree-button" value="{{ 'tag.tree.select'|trans }}" />

            {# Renders a tree inside modal window, for selecting tag inside forms. #}
            <div class="modal">
                <div class="content">
                    <span class="close"><i class="md-icon">close</i></span>
                    {% include 'NetgenTagsBundle:admin/tree:tree.html.twig' with {
                        'rootTagId': rootTagId is defined ? rootTagId : null,
                        'showRootTag': showRootTag is defined ? showRootTag : true,
                        'selectedTagId': value is not empty ? value : ''
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
